<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Agregar Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Nueva Registro</h1>
    <hr>
    <h2>Guardar Registro Proyecto</h2>

    <form action="#" th:action="@{/registro-proyecto/guardarRegistroProyecto}" th:object="${registroProyectos}"  method="POST">
        <input type="text" th:field="*{tituloRegistroProyecto}" placeholder="Titulo Proyecto" class="form-control mb-4 col-4">
        <input type="text" th:field="*{descripcionRegistroProyecto}" placeholder="Descripción" class="form-control mb-4 col-4">Historial de versiones
        <input type="date" th:field="*{historialVersion}" placeholder="Historial de versiones" class="form-control mb-4 col-4">Fecha de inicio
        <input type="date" th:field="*{fechaInicio}" placeholder="Fecha de inicio" class="form-control mb-4 col-4">Fecha de finalización
        <input type="date" th:field="*{fechaFinalizacionEstimada}" placeholder="Fecha de finalización" class="form-control mb-4 col-4">

        <div class="form-group row">
            <label class="col-md-2">Universidad: </label>
            <select th:field="*{universidad}" id="universidad">
                <option th:each="universidad: ${universidades}"
                        th:value="${universidad.idUniversidad}"
                        th:text="${universidad.nombrePlantel}"
                />
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-info col-2">Guardar Registro</button>
    </form>
    <hr>
    <a th:href="@{/registro-proyecto/}">Regresar a la página anterior</a>
</div>
</body>
</html>